<section>
  <div class="title fluid">
    <a routerLink="/"
      ><img
        src="assets/images/logo.jpg"
        class="logo fluid"
        alt="logo"
        style="width: 100px; height: 100px; border-radius: 10px"
    /></a>
    <h1>Equilibrium</h1>
  </div>

  <h1
    style="
      text-transform: uppercase;
      padding: 2%;
      color: black;
      text-align: center;
      font-size: xx-large;
      margin-top: 30px;
    "
  >
    <b>PERSONAL PERSPECTIVE</b>
  </h1>

  <div class="container fluid">
    <br />
    <div
      id="myCarousel"
      class="carousel slide"
      data-ride="carousel"
      data-interval="false"
    >
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card m-2">
            <h2>How did I come up with this strategy?</h2>
            <div class="text">
              &nbsp;&nbsp;&nbsp;The genesis of my idea for a tool to assist parents in nurturing
              emotionally balanced children, with a healthy attachment style
              stemmed from my professional background as teacher and from a deep
              interest in child development. Observing the impact of the parents
              in their children's emotional well-being sparked a curiosity about
              the psychological approach of the attachment styles. Delving into
              the research and literature on child's psychology, I realized the
              critical role that secure attachment plays in fostering
              resilience, empathy and positive social interactions.
              <br />&nbsp;&nbsp;&nbsp;Motivated by this task, I envisioned a comprehensive tool
              that would amalgamate evidence-based practices, personalized
              insights and practical tips. Recognizing the fast-paced nature of
              modern life, I aimed to design a user-friendly, accessible
              platform that integrates into daily routines. Whether
              through interactive activities, informative articles, or tailored
              advice, the tool would empower parents to create a beneficial environment
              to their child's emotional and psychological growth. The
              vision is to contribute to a generation of individuals who carry
              secure attachment styles into their adult lives, forming the
              foundation for healthy relationships and emotional well-being.
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card mb-5 frontEnd">
            <h2>
              How the Hyper Island front-end course can contribute to creating
              this app?
            </h2>
            <div class="text">
              <div class="description">
                <h3><i>Understanding User Experience (UX):</i></h3>
                <p>&nbsp;&nbsp;&nbsp;A front-end course teaches principles of user interface (UI)
                  design and user experience (UX). A
                  well-designed front-end ensures clear navigation, readability,
                  and user-friendly interactions.</p>
              </div>
              <div class="description">
                <h3><i>Responsive Design:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;Front-end development covers responsive design, which adapts
                  the chatbot interface to various devices (desktop, tablet,
                  mobile). A chatbot accessible on different platforms ensures
                  that mothers can seek advice conveniently, whether they’re
                  using a computer or their smartphone.</p>
              </div>
              <div class="description">
                <h3><i>HTML, CSS, and JavaScript:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;A front-end course teaches principles of user interface (UI)
                  design and user experience (UX). A
                  well-designed front-end ensures clear navigation, readability,
                  and user-friendly interactions.</p>
              </div>
              <div class="description">
                <h3><i>User Input Handling:</i></h3>
                <p> &nbsp;&nbsp;&nbsp;A chatbot relies on user input. That implies that parents can input
                  questions or describe situations related to child attachment. The chatbot must process
                   this input effectively.</p>
              </div>
              <div class="description">
                <h3><i>API Integration:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;Chatbot often communicate with back-end servers via APIs. In
                  a front-end course, students learn how to make API requests
                  using JavaScript (e.g., fetching attachment-related content or
                  behavioral tips).</p>
              </div>
              <div class="description">
                <h3><i>Visual Feedback:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;Parents need visual cues to understand the chatbot’s
                  responses. Front-end skills allow designers to create visual
                  feedback (e.g., loading spinners, success messages, or error
                  alerts).</p>
              </div>
              <div class="description">
                <h3><i>Localization and Personalization:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;A well-designed chatbot considers cultural differences and
                  personalization. Front-end developers can implement
                  localization (translating content) and personalize responses
                  based on user's cultural heritage.</p>
              </div>
              <div class="description">
                <h3><i>Emotional Design:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;Child attachment involves emotions. Front-end courses cover
                  emotional design principles. Chatbot interactions should evoke
                  empathy and understanding. Visual elements (colours, icons)
                  play a role in conveying emotions.</p>
              </div>
              <div class="description">
                <h3> <i>Testing and Debugging:</i></h3>
                <p>&nbsp;&nbsp;&nbsp;Front-end developers learn testing techniques. Regular testing
                  ensures the chatbot functions correctly, responds
                  appropriately, and provides valuable suggestions.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card mb-5">
            <h2>
              How my experience as teacher can align with the creation of this
              app?
            </h2>

            <div class="text">
              <ul>
                <li style="--accent-color:#da8686">
                    <div class="icon"><i class="fa-brands fa-codepen"></i></div>
                    <div class="title">Pedagogical Insights</div>
                    <div class="descr">Teachers have a deep understanding of pedagogy — the science of
                      teaching and learning. They know how to engage learners
                      effectively. Applying pedagogical principles to chatbot
                      interactions ensures that the suggestions provided are
                      educationally sound and resonate with the parents.</div>
                </li>
                <li style="--accent-color:#de6b6b">
                    <div class="icon"><i class="fa-brands fa-html5"></i></div>
                    <div class="title">Communication Skills</div>
                    <div class="descr">Teachers excel in communication. They convey complex ideas in
                      simple terms. A chatbot designed by someone with teaching
                      experience can use clear language, empathetic tones, and
                      concise explanations to guide parents.</div>
                </li>
                <li style="--accent-color:#da8686">
                    <div class="icon"><i class="fa-brands fa-css3"></i></div>
                    <div class="title">Personalization</div>
                    <div class="descr">Teachers personalize instruction based on individual student's
                      needs. Similarly, a chatbot can tailor attachment-related
                      suggestions to the unique situation, considering
                      factors like child age, temperament, and family dynamics.</div>
                </li>
                <li style="--accent-color:#de6b6b">
                    <div class="icon"><i class="fa-brands fa-js"></i></div>
                    <div class="title">Feedback, Encouragement, Empathy and Emotional Support</div>
                    <div class="descr">Teachers provide feedback and encouragement to motivate
                      students. A chatbot can offer positive reinforcement to
                      the parents, acknowledging their efforts in nurturing attachment
                      behaviors.</div>
                </li>
                <li style="--accent-color:#da8686">
                    <div class="icon"><i class="fa-brands fa-github"></i></div>
                    <div class="title">Understanding Child Development</div>
                    <div class="descr">Teachers study child development theories. They know
                      milestones and typical behaviors. A teacher-informed chatbot
                      can guide the parents on age-appropriate attachment practices,
                      such as responsive parenting and secure base interactions.</div>
                </li>
                <li style="--accent-color:#de6b6b">
                  <div class="icon"><i class="fa-brands fa-github"></i></div>
                  <div class="title">Behavioral Strategies</div>
                  <div class="descr">Teachers use behavior management techniques in classrooms. A
                    chatbot can suggest practical strategies for reinforcing
                    attachment behaviors, like consistent routines, positive
                    reinforcement, and active listening.</div>
              </li>
              <li style="--accent-color:#da8686">
                <div class="icon"><i class="fa-brands fa-github"></i></div>
                <div class="title">Monitoring Progress</div>
                <div class="descr">Teachers track student's progress and adjust teaching methods
                  accordingly. A chatbot can prompt parents to reflect on their
                  attachment practices and adapt based on observed outcomes.</div>
            </li>
            <li style="--accent-color:#de6b6b">
              <div class="icon"><i class="fa-brands fa-github"></i></div>
              <div class="title">Collaboration with Experts</div>
              <div class="descr">Teachers collaborate with colleagues, psychologists, and
                specialists. A chatbot’s development team can include child
                psychologists, attachment experts, and educators to ensure
                accuracy and effectiveness.</div>
          </li>
            </ul>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card mb-5">
            <h2>Miscellaneous</h2>
            <div>
              <p>
                 * All the photos used for this website are free for usage, from
                  https://www.vecteezy.com/.
                <br>
                
                 * Online tools used: Canva and ChatGPT.
                <br>
                * Amir Levine & Rachel S.F.Heller, "Attached. The New Science 
                of Adult Attachment and How It Can Help You Find and Keep Love" (2010)
            </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls-->
      <div class="controls">
        <a
          class="left carousel-control"
          href="#myCarousel"
          role="button"
          data-slide="prev"
          aria-hidden="true"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="right carousel-control"
          href="#myCarousel"
          role="button"
          data-slide="next"
          aria-hidden="true"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<button
  class="goBack"
  style="
    font-size: 28px;
    border-radius: 10px;
    background-color: #de6b6b;
    border-width: 4px;
    float: right;
    bottom: 50px;
    right: 16px;
  "
  [routerLink]="['/']"
>
  <i class="bx bx-left-arrow-circle"></i>
</button>

<app-footer></app-footer>
