<div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
    <div class="col-12">
      <div class="row my-4 row-1 no-gutters">
        <div class="col-md-3 col-auto text-center">
          Copyright © 2024 - <span>{{ currentYear }}</span
          ><br />
          by Profira Rusu
        </div>
        <div class="col-md-3 col-auto"></div>
        <div class="col-md-3 col-auto"></div>
        <div class="col my-auto text-md-left text-right">
          profiraa@yahoo.com
        </div>
      </div>
    </div>
  </div>
