* {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }
  section{
    margin-bottom: 40px !important;
  }
  section::before{
    content: "";
    background-image: url("/assets/images/landing_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    margin:0;
    padding:0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.38;
  }
  .title {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    z-index:1;
  }
  .logo {
    margin-top:20px;
    float: left;
  }
  .title h1 {
    flex-wrap: wrap;
    font-size: 400%;
    color:#de6b6b;
    z-index:99;
    padding-top: 40px;
  }
  .wrap {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
    background: inherit;
    transform: scale(0.2) translateZ(0px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    overflow: hidden;
    transform: scale(0.5) translateZ(0px);
    background: #de6b6b;
  }
  a div {
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.5s;
    border-radius: inherit;
  }
  a:nth-child(1) {
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition: transform 0.4s 0.15s;
  }
  a:nth-child(1) div {
    background-image: url("/assets/images/landing_image.jpg");
  }
  a:nth-child(2) {
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
    transition: transform 0.4s 0.2s;
  }
  a:nth-child(2) div {
    background-image: url("/assets/images/priest.png");
  }
  a:nth-child(3) {
    border-radius: 0 0 0 40vmin;
    top: 52.5%;
    transform-origin: 110% -10%;
    transition: transform 0.4s 0.25s;
  }
  a:nth-child(3) div {
    background-image: url("/assets/images/bible.jpg");
  }
  a:nth-child(4) {
    border-radius: 0 0 40vmin 0;
    top: 52.5%;
    left: 52.5%;
    transform-origin: -10% -10%;
    transition: transform 0.4s 0.3s;
  }
  a:nth-child(4) div {
    background-image: url("/assets/images/calendar.png");
  }
  a:nth-child(5) {
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;
    border-radius: 50vmin;
    box-shadow: 0 0 0 3vmin #de6b6b;
    transform: scale(1);
  }
  a:nth-child(5) div {
    background-image: url("/assets/images/st-andrew.jpg"); /* use the absolute path! */
  }
  span {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 45vmin;
    width: 10vmin;
    height: 10vmin;
    border-radius: 100%;
    background: #de6b6b;
    transform: translateZ(0px);
  }
  span span {
    position: absolute;
    width: 60%;
    height: 3px;
    background: #902020;
    left: 20%;
    top: 50%;
    border-radius: 0;
  }
  span span:after,
  span span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1.5vmin;
    width: 100%;
    height: 100%;
    background: inherit;
  }
  span span:after {
    top: 1.5vmin;
  }
  span:hover + .wrap,
  .wrap:hover {
    transform: scale(0.8) translateZ(0px);
    opacity: 1;
  }
  span:hover + .wrap a,
  .wrap:hover a {
    transform: scale(1) translateZ(0px);
  }
  a:hover div {
    opacity: 1;
    transform: translateZ(0px);
  }
  