<section>
  <div class="title fluid">
    <img
      src="assets/images/logo.jpg"
      class="logo fluid"
      alt="logo"
      style="width: 100px; height: 100px; border-radius: 10px"
    />
    <h1>Equilibrium</h1>
  </div>

  <span><span></span></span>
  <div class="wrap">
    <a routerLink="/AImeaning"
      ><img src="assets/images/AImeaning.jpg" title="AI Meaning"
    /></a>
    <a routerLink="/outcome"
      ><img src="assets/images/outcome.jpg" title="Outcome"
    /></a>
    <a routerLink="/strategy"
      ><img src="assets/images/strategy.jpg" title="Strategy"
    /></a>
    <a routerLink="/personalPerspective"
      ><img
        src="assets/images/personalPerspective.jpg"
        title="Personal_Perspective"
    /></a>
    <a routerLink="/"><img src="assets/images/titlePage.jpg" title="title page" style="margin: auto; text-align: center;"/></a>
  </div>
</section>
