<section>
  <div class="title fluid">
    <a routerLink="/"
      ><img
      src="assets/images/logo.jpg"
      class="logo fluid"
      alt="logo"
      style="width: 100px; height: 100px; 
      border-radius: 10px"
    /></a>
    <h1>Equilibrium</h1>
  </div>

  <h1
      style="
        text-transform: uppercase;
        padding: 2%;
        color: black;
        text-align: center;
        font-size: xx-large;
        margin-top: 30px;
      "
    >
      <b
        >About ARTIFICIAL INTELLIGENCE & MENTAL SECURITY</b
      >
    </h1>

  <div class="container">
    <!--Vertical Menu-->
    <div class="vertical-nav">
      <h5 class="mb-4">CONTENT:</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-3">
          <p>Definition</p>
        </li>
        <li class="nav-item mb-3">
          <p> Ethics </p>
        </li>
        <li class="nav-item mb-3">
          <p>Evolution</p>
        </li>
        <li class="nav-item">
          <p> Timeline </p>
        </li>
      </ul>
    </div>

    <!--Content-->
    <div class="content">
      <div class="card mb-5" id="definition">
        <div>
          <div class="title">
            What is mental security? (personal point of view)
          </div>
          <div class="text">
            &nbsp;&nbsp;&nbsp;Mental security is the human right of having a 
            personal secured mental space for his/her own. It includes privacy 
            of thoughts, feelings, choices, preferences, health issues. Also,
             it includes the right of protecting and sharing or not, any 
             personal aspect, without the fear of criticism or judgement.
           
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div>
          <div class="title">Ethical issues</div>
          <div class="text">
            &nbsp;&nbsp;&nbsp;The intersection of mental security and AI raises 
            some ethical issues:
          </div>
          <div class="text">
          <ul>
            <li>
                <p><u>Privacy and confidentiality:</u> the tools created by AI may collect sensitive 
                  personal data.</p>
            </li>
            <li>
             <p><u>Individual's consent:</u> should be given before collecting, 
              analyze and share personal information.</p>
            </li>
            <li>
             <p><u>Transparency and accountability</u> of AI systems</p>
            </li>
            <li>
              <p><u>Dependency & possible manipulation of emotions, behaviors or perception:</u> 
                related to the psychological factor, one of the biggest problem 
                that could arise is the  dependency AI tools can create, in the
                 detriment of human interaction. Moreover, this dependency could include 
                manipulation of emotions, behaviors or perception.</p>
            </li>
          </ul>
        </div>
        </div>
      </div>

      <!--<div class="title">How can AI help you with mental security?</div>
      <div class="text">
        AI can help you with mental security by providing you with tools and
        services that enhance your mental well-being and privacy. For example,
        AI can help you with:
        <ul>
          <li>Encrypting and securing your personal data and communications</li>
          <li>
            Monitoring and alerting you of any potential threats or breaches of
            your mental space
          </li>
          <li>
            Offering you personalized and confidential support and guidance
          </li>
          <li>Empowering you to make informed and autonomous decisions</li>
        </ul>
      </div>-->

      <div class="card mb-5" id="importance">
        <div>
          <div class="title">Has my perception of mental privacy changed over time?</div>
          <div class="text">
            &nbsp;&nbsp;&nbsp;Back in the times, in my 
            home country, it was a normal thing to know personal information about 
            your friends and neighbors, like their salary or health issues. 
            Because of the legal changes, life experiences or societal shifts, now 
            the situation is totally different. No one is so eager anymore to reveal
            details about their own or about others: pictures are not so easily posted 
            on social media, thoughts are shared only with very trustful friends 
            and some topics are taboo (like earnings, religion, family issues).<br> 
            &nbsp;&nbsp;&nbsp; So, yes, changes occur during the years either on a personal 
            level, either on the societal level. These changes may 
            include positive aspects: awareness and proactive measures to protect privacy, 
            empowerment of the self, better relationship dynamics,
            legal protection. On the other hand, being too aware of the personal protection
            leads in some cases to anxiety, social isolation, worse relationships, reluctance to
            seek support from others.
          </div>
        </div>
      </div>

      <!--TIMELINE-->
      <div class="card" id="timeline">
        <h2 style="text-transform: uppercase; text-align: center; font-weight: bold; color: #333; margin-bottom: 30px;">History of Mental Health & AI</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="main-timeline">
              <div class="timeline">
                <div class="timeline-content">
                  <div class="timeline-year"><p>Ancient Times</p></div>
                  <h2 class="title">MENTAL HEALTH & SECURITY</h2>
                  <p class="description">
                    Mental health issues were often attributed to supernatural
                    causes, and treatments were based on religious or mystical
                    beliefs.
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">-</p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <div class="timeline-year"><p>Vth - XIVth</p></div>
                  <h3 class="title">MENTAL HEALTH & SECURITY</h3>
                  <p class="description">
                    - mental illness, associated with demonic possession; <br />
                    - harsh & inhumane treatments; <br />
                    - asylums started to emerge, but conditions were often
                    deplorable;
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">-</p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <div class="timeline-year"><p>XVIIIth - XIXth</p></div>
                  <h3 class="title">MENTAL HEALTH & SECURITY</h3>
                  <p class="description">
                    - advancements in understanding mental illnesses; <br />
                    - emergence of psychiatric disciplines;
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">-</p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <div class="timeline-year"><p>XXth</p></div>
                  <h3 class="title">MENTAL HEALTH & SECURITY</h3>
                  <p class="description">
                    - increased awareness of mental health issues and efforts to
                    reduce stigma;<br />
                    - multiple revisions to standardize psychiatric diagnoses;
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">
                    - “good old-fashioned AI” (GOFAI), utilizing rules and
                    representations;<br />
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <div class="timeline-year"><p>MID XXth</p></div>
                  <h3 class="title">MENTAL HEALTH & SECURITY</h3>
                  <p class="description">
                    - shift towards deinstitutionalization; <br />
                    - focus on community-based mental health care; <br />
                    - psychiatric medications;
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">
                    - concept of a theoretical computing machine (Alan Turing);
                    <br />
                    - concept of AI was released (@ Dartmouth Conference, 1956);
                    <br />
                    - practical applications of AI: speech recognition, computer
                    vision, and expert systems;
                  </p>
                </div>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <div class="timeline-year"><p>XXIth</p></div>
                  <h4 class="title">MENTAL HEALTH & SECURITY</h4>
                  <p class="description">
                    - online therapy platforms, apps and telemedicine
                     are more accessible; <br>
                    - global concerns about negative effects (too long screen time and 
                    social media use); 
                  </p>
                  <h6 class="title">AI</h6>
                  <p class="description">
                    - tech giants and academia invest in AI research; <br>
                    - integration of AI in robotics; <br>
                    - issues arise (algorithmic bias, privacy violations, 
                    job displacement, surveillance);
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <button class="goBack"
  style="
    font-size: 28px;
    border-radius: 10px;
    background-color: #de6b6b;
    border-width: 4px;
    float:right;
    bottom: 50px;
    right: 16px;"
  [routerLink]="['/']">
  <i class="bx bx-left-arrow-circle"></i>
</button>


<app-footer></app-footer>