<body style="margin-top: 250px">
  <div class="jc-elevator">
    <div id="myBtn" class="jc-floor">
      <h1>404</h1>
    </div>
    <div id="doors" class="jc-doors">
      <div>
        Oops... <br />Wrong floor!<br />
        <button style="font-size: 24px; color: #37b079" [routerLink]="['/']">
          <i class="bx bx-left-arrow-circle"> Go back</i>
        </button>
      </div>
    </div>
    <div class="jc-switch">
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</body>
