<section>
  <div class="title fluid">
    <a routerLink="/"
      ><img
        src="assets/images/logo.jpg"
        class="logo"
        alt="logo"
        style="width: 100px; height: 100px; border-radius: 10px"
    /></a>
    <h1>Equilibrium</h1>
  </div>

  <h1
    style="
      text-transform: uppercase;
      padding: 2%;
      color: black;
      text-align: center;
      font-size: xx-large;
      margin-top: 30px;
    "
  >
    <b>EQUILIBRIUM APP</b>
  </h1>

  <div class="accordion" id="accordionExample">
    <div class="question">
      <input
        type="checkbox"
        data-bs-toggle="collapse"
        data-bs-target="#faq-1"
        data-bs-parent="#accordionExample"
        checked=""
        id="faq-1"
      />
      <h3>
        <label for="faq-1"
          >What is the link between the AI opportunity and the identified
          effective solution?</label
        >
      </h3>
      <div class="answer">
        <p>
          &nbsp;&nbsp;&nbsp;The emergence of technology in mental health
          services, such as teletherapy, has paved the way for increased
          accessibility and convenience in seeking support for emotional
          well-being. This opportunity aligns closely with the mission of
          <b>Equilibrium</b>, an innovative app that is crafted to aid parents
          in fostering emotionally resilient children with secure attachment
          styles. <br />
          &nbsp;&nbsp;&nbsp;<b>Equilibrium</b> offers a range of features that
          empower parents to recalibrate their behavior and interactions with
          their children, fostering secure attachment bonds. By leveraging
          technology, parents can access these resources from the comfort of
          their own home, eliminating barriers, such as distance or mobility
          issues, that may have obstructed their ability to seek traditional
          support services.
        </p>
      </div>
    </div>
    <div class="question">
      <input
        type="checkbox"
        id="faq-2"
        data-bs-toggle="collapse"
        data-bs-target="#faq-2"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3>
        <label for="faq-2"
          >What are the target audience and the goal of this app?</label
        >
      </h3>
      <div class="answer">
        <p>
          &nbsp;&nbsp;&nbsp;The <b>Equilibrium</b> app was created is to assist
          parents in raising emotionally balanced children, with a healthy
          attachment style. It has several different options to help the parents
          to recalibrate their behavior in order to create a secure attachment
          style: educational content, self-assessment tools, guided reflection
          exercises, interactive coaching, mindfulness techniques,...
        </p>
      </div>
    </div>

    <div class="question">
      <input
        type="checkbox"
        id="faq-3"
        data-bs-toggle="collapse"
        data-bs-target="#faq-3"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3>
        <label for="faq-3">What and which are the attachment styles?</label>
      </h3>
      <div class="answer">
        <div class="flip flip-vertical">
          <div
            class="front"
            style="
              background-image: url(/assets/images/attachment_styles/anxious.png
              );
            "
          >
          </div>
          <div class="back">
            <p>
              <b>Anxious attachment signs:</b><br>
              - fear<br>
              - not controlling negative emotions<br>
              - anxiety<br>
              - seeking reassurance<br>
              - difficulty trusting<br>
              - clingy<br>
              - highly emotionally reactive<br>
            </p>
          </div>
        </div>
        <div class="flip flip-vertical">
          <div
            class="front"
            style="
              background-image: url(/assets/images/attachment_styles/secured.png);
            "
          >
          </div>
          <div class="back">
            <p>
              <b>Secured attachment signs:</b><br>
              - separates from parents<br>
              - seeks comfort from parents when frightened<br>
              - greets return of parents with positive emotions<br>
              - prefers parents to strangers<br>
              - have trusting, lasting relationships<br>
              - share feelings with partners and friends<br>
              - seek out social support<br>
            </p>
          </div>
        </div>
        <div class="flip flip-vertical">
          <div
            class="front"
            style="
              background-image: url(/assets/images/attachment_styles/avoidant.png);
            "
          >
          </div>
          <div class="back">
            <p>
              <b>Avoidant attachment signs:</b><br>
              - may avoid parents<br>
              - do not seek much contact or comfort from parents<br>
              - show little or no preference for parents over strangers<br>
              - may have problems with intimacy<br>
              - invest little emotion in social and romantic relationships<br>
              - unwilling or unable to share thoughts or feelings with others<br>
            </p>
          </div>
        </div>
        <div class="flip flip-vertical">
          <div
            class="front"
            style="
              background-image: url(/assets/images/attachment_styles/disorganized.png);
            "
          >
          </div>
          <div class="back">
            <p>
              <b>Disorganized attachment signs:</b><br>
              - show a mixture of avoidant and resistant behavior<br>
              - may seem dazed, confused, or apprehensive<br>
              - may take on a parental role<br>
              - some children may act as a caregiver toward the parents<br>
              - feels both comforted and frightened by the parent<br>
              - may push the other person away<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="question">
      <input
        type="checkbox"
        id="faq-4"
        data-bs-toggle="collapse"
        data-bs-target="#faq-4"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3><label for="faq-4">What type of software is used?</label></h3>
      <div class="answer">
        <p>
          &nbsp;&nbsp;&nbsp;The <b>Equilibrium</b> app is a web-based software,
          designed for end-users, the parents. <br />
          &nbsp;&nbsp;&nbsp;It would use: various sensors (microphones, cameras,
          or wearable devices, audio or video). The app may rely on cloud
          infrastructure for data storage, processing, and analysis, because of
          the large volume of data collected from multiple users.
        </p>
      </div>
    </div>

    <div class="question">
      <input
        type="checkbox"
        id="faq-5"
        data-bs-toggle="collapse"
        data-bs-target="#faq-5"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3>
        <label for="faq-5"
          >What are the main features that users would benefit from this app?
        </label>
      </h3>
      <div class="answer">
        <table>
          <tr>
            <th style="width: 150px">MAIN FEATURES</th>
            <th style="width: 300px">DETAILS</th>
            <th style="width: 700px">
              EXAMPLES<sup style="font: 15px; font-weight: normal"
                >*created with AI</sup
              >
            </th>
          </tr>
          <tr>
            <td style="width: 250px">E-help 24/7</td>
            <td>
              <ul>
                <li>from AI virtual assistant</li>
                <li>from real psychologists</li>
                <li>from community</li>
                <li>from FAQ section</li>
                <li>possibility to call</li>
              </ul>
            </td>
            <td>
              <img
                src="assets/images/prototype/3.jpeg"
                style="
                  height: 200px;
                  width: 200px;
                  float: left;
                  margin-left: 160px;
                "
                class="image"
              />
            </td>
          </tr>
          <tr>
            <td>Strong Data Protection</td>
            <td>
              <ul>
                <li>medical disclaimer</li>
                <li>emergencies</li>
                <li>cancellation policy</li>
                <li>membership</li>
                <li>user conduct</li>
                <li>user responsibilities</li>
                <li>owner responsibilities</li>
                <li>intellectual property rights</li>
                <li>copyright</li>
              </ul>
            </td>
            <td>
              <img
                src="assets/images/neurorights.png"
                style="
                  height: 200px;
                  width: 300px;
                  float: left;
                  margin-left: 160px;
                "
                class="image"
              /><br /><sup style="font: 15px; font-weight: normal"
                >*source: NeuroRIghts Intiative</sup
              >
            </td>
          </tr>
          <tr>
            <td>Diary</td>
            <td>
              - valuable tool for parents to track progress, identify patterns,
              and make adjustments in their parenting approach; <br />
              - insights and personalized recommendations could be offered,
              based on the data written by the parents in the diary;
            </td>
            <td>
              <img
                src="assets/images/prototype/5.jpeg"
                style="
                  height: 200px;
                  width: 100px;
                  float: left;
                  margin-left: 160px;
                "
                class="image"
              />
            </td>
          </tr>
          <tr>
            <td>Personal History</td>
            <td>
              - could include sections for recording significant moments such as
              the child's first words, steps or major achievements, important
              milestones, events, and experiences;
            </td>
            <td>
              <img
                src="assets/images/prototype/4.jpeg"
                style="
                  height: 200px;
                  width: 200px;
                  float: left;
                  margin-left: 160px;
                "
                class="image"
              />
            </td>
          </tr>

          <tr>
            <td>Individual Settings and Preferences</td>
            <td>
              - preferences regarding the articles, tips, or activities related
              to emotional development and attachment parenting; <br />
              - notification settings based on their preferences and schedule;
              <br />
              - privacy settings for the account; <br />
              - preferred methods of receiving feedback and support from the
              app;
            </td>
            <td>
              <img
                src="assets/images/prototype/1.jpeg"
                style="
                  height: 200px;
                  width: 200px;
                  float: left;
                  margin-left: 160px;
                "
                class="image"
              />
            </td>
          </tr>
          <tr>
            <td>Override Mechanisms</td>
            <td>
              - include mechanisms that allow individuals to override or disable
              emotion recognition features, temporarily or permanently, ensuring
              they have control over their emotional privacy;
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="question">
      <input
        type="checkbox"
        id="faq-6"
        data-bs-toggle="collapse"
        data-bs-target="#faq-6"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3>
        <label for="faq-6"
          >What are the AI subsets that this app should have? (web developer's
          perspective)</label
        >
      </h3>
      <div class="answer">
        <ul>
          <li>
            <b>Neuro-Linguistic Programming (NLP):</b>
            <ol>
              <li>
                analyze conversations or interactions between parents and
                children
              </li>
              <li>identify patterns in language usage, tone, and sentiment</li>
              <li>
                provide feedback on communication styles that may positively or
                negatively affect attachment
              </li>
            </ol>
          </li>
          <li>
            <b>Machine Learning (ML) with Behavioral Analysis</b>
            <ol>
              <li>analyze facial expressions, gestures, and body language</li>
              <li>
                provide insights into the emotional dynamics of these
                interactions
              </li>
              <li>suggest adjustments for fostering secure attachment</li>
            </ol>
          </li>
          <li>
            <b>Deep Learning (DL) for Image and Video Analysis</b>
            <ol>
              <li>analyze videos or images of parent-child interactions</li>
              <li>
                capturing subtle cues that may indicate attachment-related
                behaviors (facial expressions, emotional states, sleep quality)
              </li>
            </ol>
          </li>
        </ul>
      </div>
    </div>

    <div class="question">
      <input
        type="checkbox"
        id="faq-7"
        data-bs-toggle="collapse"
        data-bs-target="#faq-7"
        data-bs-parent="#accordionExample"
        checked=""
      />
      <h3><label for="faq-7">AI tools as additional help</label></h3>
      <div class="answer">
        <ol>
          <li>
            <b>Personalized Recommendation Systems</b> (personalized suggestions
            and strategies tailored to each parent-child relation based on their
            specific interactions, preferences, and challenges)
          </li>
          <br />
          <li>
            <b>Sentiment Analysis and Emotion Recognition</b> (AI can analyze
            text, voice, or video data to detect emotional cues and sentiment in
            parent-child interactions. This analysis could provide insights into
            the emotional tone of interactions and help parents understand how
            their behavior influences their child's emotional responses and
            attachment security.)
          </li>
          <br />
          <li>
            <b></b>Breath reminder (as in
            <a href="https://breathhh.app/">Breathhh App</a>)
          </li>
          <br />
          <li>
            Web app that tracks depression, sleep, anxiety levels (as in
            <a href="https://www.moodtracker.com/">Mood Tracker</a>)
          </li>
          <br />
          <li>
            AI companion that listens and provides support: (as in
            <a href="https://replika.com/">Replika</a>)
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<button
  class="goBack"
  style="
    font-size: 28px;
    border-radius: 10px;
    background-color: #de6b6b;
    border-width: 4px;
    float: right;
    bottom: 50px;
    right: 16px;
  "
  [routerLink]="['/']"
>
  <i class="bx bx-left-arrow-circle"></i>
</button>

<app-footer></app-footer>
